# TODO: Windowsマシンで動作確認。特にパスなどが間違えやすい
# Windowsはなぜかホームディレクトリ「~」は使えないので、相対パスで指定する

{{- $isWSL := and .chezmoi.kernel (contains "microsoft" (lower .chezmoi.kernel.osrelease)) -}}
{{- $isContainer := or (stat "/.dockerenv") (stat "/run/.containerenv") -}}


[core]
{{ if $isContainer -}}
# containerではcore.sshCommandを設定しない
{{ else if eq .chezmoi.os "windows" -}}
    sshCommand = "C:/windows/System32/OpenSSH/ssh.exe"
{{ else if and (eq .chezmoi.os "linux") ($isWSL) -}}
    sshCommand = "/mnt/c/windows/System32/OpenSSH/ssh.exe"
{{ else if eq .chezmoi.os "darwin" -}}
    sshCommand = "/usr/bin/ssh"
{{ else if eq .chezmoi.os "linux" -}}
    sshCommand = "/usr/bin/ssh"
{{ else -}}
# 設定対象外のOSではcore.sshCommandを設定しない
{{ end -}}

{{ if $isContainer -}}
# containerではgpg.programを設定しない
{{ else if eq .chezmoi.os "windows" -}}
[gpg]
    program = "C:/Program Files (x86)/GnuPG/bin/gpg.exe"
{{ else if eq .chezmoi.os "darwin" -}}
[gpg]
    program = "/opt/homebrew/bin/gpg"
{{ else if and (eq .chezmoi.os "linux") ($isWSL) -}}
[gpg]
	program = "/usr/bin/gpg"
{{ else if eq .chezmoi.os "linux" -}}
[gpg]
	program = "/usr/bin/gpg"
{{ else -}}
# 設定対象外のOSではgpg.programを設定しない
{{ end -}}

{{ if $isContainer -}}
# containerではgpg.ssh.programを設定しない
{{ else if eq .chezmoi.os "windows" -}}
# gpg.ssh.programはlocal.windows.configで設定する
{{ else if eq .chezmoi.os "darwin" -}}
[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ else if and (eq .chezmoi.os "linux") ($isWSL) -}}
# gpg.ssh.programはlocal.wsl.configで設定する
{{ else if eq .chezmoi.os "linux" -}}
[gpg "ssh"]
    # from: apt install 1password
    program = "/opt/1Password/op-ssh-sign"
{{ else if $isContainer -}}
# containerではgpg.ssh.programを設定しない
{{ else -}}
# 設定対象外のOSではgpg.ssh.programを設定しない
{{ end -}}

{{ if and (eq .chezmoi.os "linux") ($isWSL) -}}
[include]
    # Git管理しないローカル設定ファイル（ユーザー名のパスなどを含むため分離）
    path = "local.wsl.config"
{{ else if eq .chezmoi.os "windows" -}}
[include]
    # Git管理しないローカル設定ファイル（ユーザー名のパスなどを含むため分離）
    path = "local.windows.config"
{{ end -}}
