{{ if eq .chezmoi.os "windows" -}}
# Directories
.1password
.aws
.azure
.cache
.cursor
.cursor-tutor
.docker
.gk
.git
.gnupg
.kube
.sonarlint
.ssh
.vscode
AppData
CrossDevice
Desktop
Documents
Downloads
go
Music
OneDrive
Pictures
Public
Saved Games
Videos

# Files
NTUSER.DAT
{{ else -}}
# Unix/Linux/macOS - minimal default exclude for printStruct
.git
{{ end -}}
