{{ if eq .chezmoi.os "windows" -}}
local wezterm = require("wezterm")
local f = {}

-- コマンドが存在するかチェックする関数
local function is_executable_in_path(executable)
    local success, stdout, stderr = wezterm.run_child_process{'where', executable}
    return success
end

function f.SetOsConfig(config)

    -- default shell
    if is_executable_in_path('pwsh') then
        config.default_prog = { 'pwsh' }
    elseif is_executable_in_path('powershell') then
        config.default_prog = { 'powershell' }
    else
        config.default_prog = { 'cmd' }
    end
    config.launch_menu = {
        {
            label = 'PowerShell 7',
            args = {'pwsh'}
        },
        {
            label = 'Old Windows PowerShell',
            args = {'powershell'}
        },
        {
            label = 'コマンドプロンプト',
            args = {'cmd'}
        }
    }
end

return f
{{ else -}}
local f = {}

function f.SetOsConfig(config)


end

return f
{{ end -}}
