{{ if eq .chezmoi.os "darwin" -}}
tap "argon/mas"
tap "homebrew/bundle"
tap "homebrew/services"
tap "mas-cli/tap"
tap "rcmdnk/file"
brew "pkgconf"
brew "bottom"
brew "composer"
brew "coreutils"
brew "gh"
brew "git"
brew "git-lfs"
brew "gnupg"
brew "lazygit"
brew "mas"
brew "mise"
brew "nushell"
brew "nvim"
brew "opencv"
brew "protobuf"
brew "tmux"
brew "trash"
brew "volta"
brew "wget"
brew "chezmoi"
brew "yq"
brew "rcmdnk/file/brew-file"
cask "1password"
cask "1password-cli"
cask "affinity-designer"
cask "affinity-photo"
cask "affinity-publisher"
cask "alfred"
cask "appcleaner"
cask "bettertouchtool"
cask "chatgpt"
cask "chrome-remote-desktop-host"
cask "claude"
cask "cursor"
cask "dbeaver-community"
cask "deepl"
cask "discord"
cask "drawio"
cask "dropbox"
cask "edrawmind"
cask "firefox"
cask "flutter"
cask "font-cascadia-code"
cask "font-cascadia-mono"
cask "font-jetbrains-mono-nerd-font"
cask "gitkraken"
cask "github"
cask "godot"
cask "google-chrome"
cask "google-cloud-sdk"
cask "google-drive"
cask "google-japanese-ime"
cask "inkscape"
cask "iterm2"
cask "jetbrains-toolbox"
cask "karabiner-elements"
cask "mark-text"
cask "microsoft-edge"
cask "notion-calendar"
cask "obsidian"
cask "orbstack"
cask "postman"
cask "powershell"
cask "raycast"
cask "readdle-spark"
cask "sourcetree"
cask "sublime-text"
cask "teamviewer"
cask "unity-hub"
cask "visual-studio-code"
cask "vivaldi"
cask "warp"
cask "zed"
mas "1Password for Safari", id: 1569813296
mas "BetterSnapTool", id: 417375580
mas "CompareMerge2", id: 1459748650
mas "CotEditor", id: 1024640650
mas "DaisyDisk", id: 411643860
mas "Dropover", id: 1355679052
mas "FirstSeed Calendar", id: 1348617240
mas "Goodnotes", id: 1444383602
mas "HazeOver", id: 430798174
mas "Keynote", id: 409183694
mas "Kindle Classic", id: 405399194
mas "LINE", id: 539883307
mas "Magnet", id: 441258766
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Pixelmator Pro", id: 1289583905
mas "PopClip", id: 445189367
mas "Save to Raindrop.io", id: 1549370672
mas "SimpleMind", id: 439654198
mas "Slack", id: 803453959
mas "Swift Playground", id: 1496833156
mas "TestFlight", id: 899247664
mas "TickTick", id: 966085870
mas "Xcode", id: 497799835
mas "Yoink", id: 457622435
{{ end -}}
